*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  background-color: var(--light-blue);
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

.icon {
  width: 1em;
  height: 1em;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul, ol, li, button {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: underline solid rgba(0, 0, 0, 0);
  color: #000000;
  transition: 0.3s ease-in-out;
}

a:hover {
   transition: 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
}

*:focus {
  outline: none;
}

p {
  margin: 0;
}

:root {
  --primary: #25316d;
  --secondary: #5F6F94;
  --light-blue: #DFEBF0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.h1 {
  font-family: 'Poiret One', sans-serif;
  font-size: 68px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}

.h2 {
  font-family: 'Poiret One', sans-serif;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

.infinite-scroll-component  {
  overflow: initial !important;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loader__icon {
  width: 100px;
  height: 100px;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-name: rotate;
  animation-iteration-count: infinite;
}


@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
