.jobs {
  margin-bottom: 20px;
}

.jobItem {
  display: flex;
  margin-bottom: 5px;
}

.jobItem span {
  margin-right: 5px;
}

.add {
  font-weight: 700;
  text-decoration: underline;
}

.edit {
  font-size: 13px;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
  margin-right: 5px;
}

.delete {
  color: #ff2222;
  cursor: pointer;
}