.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form label {
  margin-bottom: 15px;
  width: 100%;
  font-weight: 600;
}

.form label input {
  display: block;
  margin-top: 5px;
  width: 70%;
  padding: 7px 10px;
  border: 1px solid #999;
  border-radius: 3px;
}
.form label select {
  margin-left: 15px;
}

.error {
  color: #f00;
  margin-left: 10px;
}

.form textarea {
  width: 100%;
  min-height: 100px;
  display: block;
  margin-top: 5px;
  padding: 7px 10px;
  border: 1px solid #999;
  border-radius: 3px;
}
