.section {
  background-color: var(--light-blue);
  padding: 40px 0;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.item {
  font-size: 18px;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
}

.item a {
  text-decoration: underline;
}