.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.adminHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.title {
  font-size: 30px;
  line-height: 36px;
  margin-right: auto;
}